body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.team-wrapper{
  background: #222222;
  height: 100vh;
}
.main-header{
  text-align: center;
  margin-bottom: 30px;
}
.team-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  margin:20px;
}
.team-images{
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-images .img-top{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #778beb;
  margin-bottom: 20px;
}

.team-info{
text-align: center;
}
.team-heading{
  margin-top: 0;
  margin-bottom: 10px;
  font-size:28px;
  letter-spacing: 1px;
}
.team-heading2{
  margin-top: 0;
  margin-bottom: 10px;
  font-size:14px;
}
.team-details{
  margin-bottom: 20px;
}
.social-media{
margin-bottom: 20px;
}
.social-media .facebook{
  background: #778beb;
  color: #fff;
  padding: 6px 10px;
  border-radius: 50%;
  margin-right: 5px;
}
.social-media .instagram{
  background: #778beb;
  color: #fff;
  padding: 6px 10px;
  border-radius: 50%;
  margin-right: 5px;
}
.social-media .twitter{
  background: #778beb;
  color: #fff;
  padding: 6px 8px;
  border-radius: 50%;
  margin-right: 5px;
}
.social-media .linkdin{
  background: #778beb;
  color: #fff;
  padding: 6px 8px;
  border-radius: 50%;
  margin-right: 5px;
}
.social-media .github{
  background: #778beb;
  color: #fff;
  padding: 6px 10px;
  border-radius: 50%;
  margin-right: 5px;
}


